/* ------------------------------------------
  RESET
---------------------------------------------*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

body{
  background-color: #eaeaea;
}

.logo{
  margin:10px 0px 10px 20px; 
}

.message{
width: 100%;
height: 800px;
background-repeat:no-repeat;
background-image: url(/img/apple.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
margin-bottom:-20px;
}

.featured{
  width: 100%;
  height: 300px;
  margin-top: 30px;
}

.featured h1{
  font-size: 32px;
  font-family: "Helvetica";
  margin-bottom: 20px;
}

.featured div{
  
  height: auto; 
  margin-bottom: 30px;
}

.featured p{
  font-family: "Helvetica";
}

.featured img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.partners img{
  width: 200px;
}

.nav-collapse ul{
	width: 35%;
	float: right;
}
  .nav-collapse li{
  	width: auto;
  	padding-top: 10px;
  	padding-bottom:20px;
}
    
.nav-collapse a{
    padding:20px 15px 20px 15px;
}
    
.nav-collapse a:hover{
background-color: #088A08;
color:#F7F7F7;
}

.partners{
  background-color: #eaeaea;
  height: 200px; 
}

.partners h1{
  font-size: 32px;
  font-family: "Helvetica";
}

/*START LEARN SECTION*/

.learnInfo{
  margin-top: 20px;
}

.learnInfo h1{
  font-size: 36px;
  font-family: "Helvetica";
  margin-bottom: 30px;
}

.learnInfo p{
  font-size: 16px;
  font-family: "Helvetica";
}

.phrase{
  font-size: 20px;
  font-family: "Helvetica";
  font-weight: bold;
  font-style: italic;
  margin-top: 40px;
  margin-bottom: 40px;
}

.phrase p{
margin-top:10px; 
}

@media (min-width: 40em) {

header{
  padding-left: 20px;
  margin-top: -60px;
  border-bottom: solid 4px #088A08;
}

.nav-collapse ul {
  width: 30%;
  float: right;
  margin-top: 20px;
}

}