@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

@font-face
{
font-family: RobotoSlab;
src: url(../fonts/RobotoSlab.ttf);
}

@font-face
{
font-family: geoslab;
src: url(../fonts/geoslab.ttf);
}

@font-face
{
font-family: Poetsen;
src: url(../fonts/Poetsen.ttf);
}


/* ------------------------------------------
  RESET
---------------------------------------------*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

body{
  background-color: #FFF;
}

header{
  
  height: auto;
}


.message{
width: 100%;
height: 550px;
background-repeat:no-repeat;
background-image: url(../img/apple.jpg);
background-size: cover;
background-attachment: fixed;
background-position: center;
}

nav{
  display: inline-block;
  float: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  color: #FFF;
  text-align: center;
  width:100px;
}

nav ul li a{
  display: block;
  color: #F7F7F7;
  text-decoration: none;
  font-family: Helvetica;
  padding:20px 0px 10px 0px;
}
 
nav ul a:hover{
  border-bottom: solid 3px  #FFF;
}   

.intro{
  width: 100%;
  height: auto;
  margin: 8% auto;
}

.intro a{
  border:solid 2px #F7F7F7;
  padding: 15px 25px 15px 25px;
  color: #F7F7F7;
  text-decoration: none;
  text-align: center;
  font-family: Helvetica;
  font-size: 26px;
  border-radius: 5px;
  display: block;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  transition:0.3s;
}

.intro a:hover{
  background-color: #26A65B;
  color: #F7F7F7;
  border-color: #26A65B;
}

.intro p{
color: #FFF;
font-size: 16px;
font-family: Helvetica;
width: 60%;
margin: 40px auto;
}

#principal-container .content {
  /*White background on menu and header
  background:rgba(237, 237, 237, 0.5);*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.content h1{
  text-align: center;
  font-size: 36px;
  font-family: Helvetica;
  color: #fff;
}





.featured{
  width: 100%;
  height: auto;
  padding: 80px 0 80px 0;
  margin-top: -5px;
  background-color: #FFF;
}

.featured h1, .sponsor h1{
  font-size: 32px;
  font-family: "Helvetica";
  vertical-align: middle;
}


.ui.celled.grid>.column:not(.row), .ui.celled.grid>.row>.column{
  padding: 0;
}

h3{
  font-family: Helvetica;
  font-size: 24px;
  color: #585858;
  text-align: center;
  margin:20px 0 20px 0;
}

.featured div{
  vertical-align: middle;
  height: auto; 
}

header, .projects{
  padding-top: 20px;
}

.featured a{
  text-decoration: none;
  color: #F7F7F7;
}

.featured p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
}


.featured .ui .segment{
  background-color: #efefef;
}

.featured img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}


.ui.purple.button, .ui.purple.buttons .button{
  margin-top: 30px;
  font-family: Helvetica;
  text-transform: none;
}


.title{
  width: 100%;
  height: auto;
}

.title i, .title h1, .title div{
  display:inline-block;
  vertical-align:middle;
}

.title .ui.button{
float: right;
position: relative;
  margin-top: 5px;
  color: #cecece !important;
  border: #FFF !important;
  font-family: Helvetica;
  -webkit-box-shadow:0 0 0 1px rgba(255,255,255,0.3)inset;
}

.title .ui.button:hover{
  color: #F7F7F7 !important;
  -webkit-box-shadow:0 0 0 1px rgba(255,255,255,0.5)inset;

}



.sponsor{
  padding:80px 0 80px 0;
  width: 100%;
  height: auto;
  background-color: #E26A6A;
}

.sponsor h1{
color: #F2F2F2;
text-align: center;
font-family: Poetsen;
font-weight: 100;
letter-spacing: 1px;
padding: 20px 0 20px 0;
}

.sponsor h1 i{
  color: #F7F7F7;
  margin-right: 15px;
}

.sponsor img{
  display: inline-block;
  width: 280px;
}

.sponsor .fa-inverse{
 color:#E26A6A;
}

.sponsor .fa-circle{
color:#FFF;
}


footer{
  width: 100%;
  height: auto;
  background-color: #16A085;
  padding: 40px 0 40px 0;
}

footer h1{
  font-family: geoslab;
  font-size: 94px;
  color: #edef5f;
  letter-spacing: 2px;
}

.scrollup{
  float: right;
}

.scrollup i.icon{
 text-decoration: none;
 color: #518c7b; 
 opacity: 1;
}

.scrollup i.icon.square{
 background-color: #edef5f; 
}



ul.rig {
  list-style: none;
  font-size: 0px;
  display: block;
  margin-top: 30px;
  
}
ul.rig li {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul.rig li img {
  max-width: 100%;
  height: auto;
  margin: 0 0 10px;
}

ul.rig {
  list-style: none;
  font-size: 0px;
  margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
  display: inline-block;
  margin: 0 0 2.5% 2.5%;
  font-size: 16px;
  font-size: 1rem;
  vertical-align: top;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* class for 2 columns */
ul.rig.columns-2 li {
  width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
  width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
  width: 22.5%; /* this value + 2.5 should = 25% */
}

/* class for 5 columns */
ul.rig.columns-5 li {
  width: 17.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
  ul.grid-nav li {
    display: block;
    margin: 0 0 5px;
  }
  ul.grid-nav li a {
    display: block;
  }
  ul.rig {
    margin-left: 0;
  }
  ul.rig li {
    width: 100% !important; /* over-ride all li styles */
    margin: 0 0 20px;
  }
}


@media (min-width: 40em) {

.nav-collapse ul {
  width: 50%;
  float: right;
  margin-top: 20px;
}

}