/*! responsive-nav.js 1.0.32 by @viljamis */

.nav-collapse ul {
  width: 100%;
}

.nav-collapse ul li{
  background-color: #26A65B;
  /*padding: 10px 0 10px 10px;*/
}

.nav-collapse ul li:hover{
  background-color: #21964c;
}

.nav-collapse ul li a {
  color:#FFF;
  text-decoration: none;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 61.938em) {
  /*.js .nav-collapse {
    position: relative;
  }*/


  .js .nav-collapse.closed {
    max-height: none;
    width: auto;
  }
  .nav-toggle {
    display: none;
  }
}


.nav-toggle {
  border-radius:0 0 4px 4px;
  position: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  text-indent: -999px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 50px;
  float: right;
}

.nav-toggle:before {
  background-color: #26A65B;
  color: #FFF; /* Edit this to change the icon color */
  font-family: "responsivenav", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 28px;
  text-transform: none;
  position: absolute;
  content: "≡";
  text-indent: 0;
  text-align: center;
  line-height: 50px;
  speak: none;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-toggle.active::before {
  font-size: 24px;
  content:"x";
}
