@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
/* ------------------------------------------
  RESET
---------------------------------------------*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

body{
  background-color: #F4F4F4;
}

header{
  padding-top: 20px;
}


nav{
  display: inline-block;
  float: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  color: #FFF;
  text-align: center;
  width:100px;
}

nav ul li a{
  display: block;
  color: #F7F7F7;
  text-decoration: none;
  font-family: Helvetica;
  padding:20px 0px 10px 0px;
}
 
nav ul li a:hover{
  border-bottom: solid 3px  #FFF;
  text-decoration: none;
   color: #F7F7F7;
}


.message{
width: 100%;
height: auto;
padding-bottom: 20px;
background-color: #26A65B;
/*background-repeat:no-repeat;
background-image: url(../../img/techbg.png);
background-size: cover;
background-attachment: fixed;
background-position: center;*/
}

.main{
width: 100%;
height: auto;
padding:180px 0 180px 0;
background-repeat:no-repeat;
background-image: url(../../img/hackers.png);
background-size: cover;
background-attachment: fixed;
background-position: center;
}

.main h1{
  color: #FFF;
  padding-left:20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 52px;
}

.main h3{
  padding-top: 20px;
  padding-left:26px;
  color: #FFF;
}




.story{
  padding:120px 0 120px 0;
  width: 100%;
  height: auto;
  background-color: #EEEEEE;
}

.story i{
  color: #FFF;
  width: 50px;
  display: block;
  margin: 10px auto;
}

.story img{
  border-radius: 50%;
  display: block;
  margin:0 auto;
  border:solid 7px #d8d8d8;
}

.story h3{
  font-size: 30px;
  padding:0px 0 30px 0;
  color: #2c3e50;
  margin-top: 30px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.story h4{
  padding-top: 15px;
  color: #706C6C;
}

.story p{
  font-size: 16px;
  color: #706C6C;
}

.table{
  border:solid 1px #DDDDDD;
}

.table thead>tr>th{
  border-top: none;
}

.courses, .books, .various{
 /*border-right:solid 1px #DDDDDD;
  border-left:solid 1px #DDDDDD;
  border-bottom:solid 1px #DDDDDD;*/
}

.table>thead>tr>th{
  border-bottom:none;
}

.table>thead>tr{
  border-right: solid 1px #DDDDDD;
  border-left: solid 1px #DDDDDD;
} 

.various thead{
  background-color: #8e44ad;
  color: #FFF;
}

.books thead{
  background-color: #16a085;
  color: #FFF;
}

.courses thead{
background-color: #4B77BE;
color: #FFF;
}




footer{
  width: 100%;
  height: auto;
  background-color: #232e38;
  padding: 40px 0 30px 0;
}

footer img{
  width: 300px;
}


footer h2{
  color: #FFF;
  margin-top: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

footer p{
  color: #FFF;
  font-size: 16px;
}

footer .social{
  margin-top: 20px;
}

footer .social i{
  padding: 0px 15px 0px 15px;
  color: #bcbcbc;
}

footer .social i:hover{
  color: #EEEEEE;
}

footer .fa-code{
  color: #F4B350;
}

footer .fa-heart{
  color: #D24D57;
}

footer i{
  /*color: rgba(244,244,244,0.6) !important;*/
  color: #FFF;
}

footer i:hover{
  /*color: rgba(244,244,244,0.9) !important;*/
  cursor: pointer;
}

footer .col-md-12 img{
  width: 40px;
  margin-right: 0;
}



/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px) { 

 }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

nav{
  display: inline-block;
  float: right;
}


nav ul li{
  list-style: none;
  display: inline-block;
  color: #FFF;
  text-align: center;
  width:100px;
  background-color: transparent !important;
}

nav .nav>li>a:hover, .nav>li>a:focus{
  background-color: rgba(255,255,255,0);
}

nav ul li a{
  display: block;
  color: #F7F7F7;
  text-decoration: none;
  font-family: Helvetica;
  padding:20px 0px 10px 0px;
  margin-top: 0px;
}

.story h3{
  margin-top: 0px;
}

.learn .container, .story .container, footer .container{
  width:960px;
}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .learn .container, .story .container{
  width:960px;
} 

}