@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);
/* ------------------------------------------
  RESET
---------------------------------------------*/

body, div,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, dl, dt, dd, ol, ul, li, hr,
fieldset, form, label, legend, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section,
summary, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
}

a:active,
a:hover {
  outline: 0;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

body{
  background-color: #F4F4F4;
}

header{
  padding-top: 20px;
}

.message{
width: 100%;
height: auto;
padding-bottom: 20px;
background-color: #2980b9;
/*background-repeat:no-repeat;
background-image: url(../../img/techbg.png);
background-size: cover;
background-attachment: fixed;
background-position: center;*/
}


nav{
  display: inline-block;
  float: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  color: #FFF;
  text-align: center;
  width:100px;
}

nav ul li a{
  display: block;
  color: #F7F7F7;
  text-decoration: none;
  font-family: Helvetica;
  padding:20px 0px 10px 0px;
}
 
nav ul li a:hover{
  border-bottom: solid 3px  #FFF;
  text-decoration: none;
   color: #F7F7F7;
}


.learn{
  padding:80px 0 80px 0;
  width: 100%;
  height: auto;
  background-color: #FAFAFA;
}

.learn h1{
  /*color: #26A65B;*/
  color: #2980b9;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
}

.learn p{
  padding-right:20px;
}




.resources{
  padding:80px 0 80px 0;
  width: 100%;
  height: auto;
}

.resources i{
  color: #848484;
}

.resources h2{
  font-size: 28px;
  padding:20px 0 60px 0;
  color: #26A65B;
}

.courses, .books, .various{
  border:solid 1px #DDDDDD;
}

.various thead{
  background-color: #6b5272;
  color: #F4F4F4;
}

.books thead{
  background-color: #43968b;
  color: #F4F4F4;
}

.courses thead{
background-color: #575d77;
color: #F4F4F4;
}




footer{
  width: 100%;
  height: auto;
  background-color: #272830;
  padding: 40px 0 40px 0;
}

footer h1{
  font-family: geoslab;
  font-size: 94px;
  color: #F0F0F0;
  letter-spacing: 2px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
@media (max-width: 767px) { 

 }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

.learn .container, .resources .container{
  width:960px;
}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  .learn .container, .resources .container{
  width:960px;
} 

}